@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform:capitalize ;
}
.container{
    padding: 10px 7%;
    padding-bottom: 80px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    min-height: 100vh;
    background: linear-gradient(90deg,#87adfe,#ff77cd);
}
.container .product-container{
    display:flex;
    flex-wrap: wrap;
    gap: 15px;
}
.container .product-container .product{
    width: 35rem;
    padding: 2rem;
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0 5px 10px rgb(0, 0, 0,.3);
    text-align: center;
}
.container .product-container .product img{
   height: 20rem;
   width: 100%;
   object-fit: cover;
}
.container .product-container .product img h3{
    font-size: 25px;
    color: black;
}
.container .product-container .product img .amount{
    padding: 10px 0;
    color: black;
    font-weight:bolder;
}
.container .product-container .product img .amount .TL{
    font-size: 20px;
}
.container .product-container .product img .amount .price{
    font-size: 35px;
}
.container .product-container .product .btn{
    display: inline-block;
    background: linear-gradient(45deg,#87adfe,#ff77cd);
    border: radius 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: red;
    box-shadow: 3px 8px 22px rgb(94, 28, 68,0.15);

}

